.thumbnail {
    width: 225px;
    height: 225px;
    border: 1px solid #5573b4;
    border-radius: 10%;
    margin: 39px 39px 15px 39px;
    padding: 5px;
    filter: drop-shadow(10px 10px 4px #a6b8d3);
}

.display-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}